

body{
    margin:0px;
    justify-content: center;
    background-color: white;
}


.container{
    display:flex;
    flex-direction:row;
    height:100%;
}

.ladoesquerdo{
    display: flex;
    flex-direction: column;
    background-color: #2B3031;
    color:white;
    width:19em;
    min-height: 100%;
   
    position: sticky;
    top: 0px;
    height: 100vh;
}


.cabecalho-le{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    align-items: center;
    padding-bottom: 1.7em;
    font-size: 1.2em;
}

.palavra-cabeca{
    font-weight:bold;
    padding-left: 0.5em;
}

b{
    color:#10EAEA
}


.espaco-preto{
    background-color: #262626;
    height: 2.7em;
}


.ger{
    text-align: center;
    height:2.5em;
    padding-top: 1.3em;
    display:flex;
    flex-direction: row;
    padding-left: 2.3em;
}


.seta{
    margin-left: 4.5em;
}

.alunos{
    background-color: white;
    color: black;
    height:2.8em;
    text-align: center;
    padding-right:1.3em;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.barrinha{
    width: 4px;
    height: 46px;
    background: #10EAEA;
    margin-right: 2.1em;
}


.ladodireito{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: #F5F5F5;
}


.cabecalho-ld{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cima{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    height: 4em;
    align-items: center;
}

button{
    background-color:#986CDF;
    border: none;
}

.bot1 img{
    margin-top: 0.2em;
    width:1.2em;
    height:1em;
}

.bot2 img{
    margin-top: 0.2em;
    margin-right: 0.2em;
}

.bot1 button{
    height: 2.5em;
    width:2.5em;
    border-radius: 2em;
}


.lado-usu{
    display:flex;
    flex-direction: row;
}

.foto{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2em;
   
}

.foto img{
 width:2.8em;
 height:2.8em;
}


.bolinha{
color:white;
background-color: #10EAEA;
width: 1.2em;
height: 1.2em;
border-radius: 1em;
border: 2px solid white;
font-size: 10px;
text-align: center;
position: absolute;
margin-left: 3em;
margin-bottom: 2.6em;
}

.name-usu{
    margin-left: 0.5em;
}

.lado-botao{
    display: flex;
    flex-direction: row;
    margin-right: 2.5em;
    align-items: center;
}

.bot1{
    margin-right: 0.7em;
}

.bot2 button{
    height: 2.5em;
    width:2.5em;
    border-radius: 1.3em;
}

hr{
    color:#D9D9D9;
    width:97%;
    background-color: #D9D9D9;
    height: 0.2px;
    border: 1px solid #D9D9D9;
    margin:0px;
    text-align: center;
    
}

.conteudo-ld{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width:75em;
    height:12em;
    margin-top: 3em;
    box-shadow: 1px 1px 4px #BABABA ;
}

.conteudo-ld{
    align-items: center;
}

.barrona{
    height:1.2em;
    background-color: 
    #6CC3DF;
    width:0.3em;
    border-radius: 1em;
    margin-left: 2.5em;
    margin-right: 1em;
}

.titulo-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5em;
}

.texto{
    font-weight: bold;
    font-size: 22px;
}

.inputs{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    margin-left:3.6em;
}

.container-f1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4em;
}

.bloco{
  margin-bottom: 1em;  
}

.bloco1{
    margin-bottom: 1em;  
    margin-left: 1.3em;
  }

.bloco input{
    border-radius: 0.3em;
    border: 1px solid #A8A8A8;
    height: 1.8em;
}

.bloco1 input{
    border-radius: 0.3em;
    border: 1px solid #A8A8A8;
    height: 1.8em;
}



.cadastrar{
    margin-left: 3em;
    height:36px;
    border-radius: 44px;
    color:white;
    width:106px;
    background-color: #10EAEA;
    margin-top: 3em;
}

.titulo-tb{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


.tabela{
    background-color: white;
    margin-top:2.5em;
    box-shadow: 1px 1px 4px #BABABA ;
    width:75em;
    align-items: center;
}


td button {
    border-radius: 50%;
    background-color: #565656;
    border: none;
    width: 31px;
    height: 31px;
}

.box-image {
    margin-right: 2em;
}

thead {
    background-color: #6CC3DF;
    
}

table {
   margin-top: 2em;
}





tbody {
    background-color: #F5F5F5;
}

td {
   text-align: left;
   height:  35px;
   padding: 1em;
   color: #6D6868;
   font-weight: 600;
}

.white {
   background-color: #fff;
}

th {
   height: 35px;
   text-align: left;
   padding: 1em;
   color: #ffff;
   font-weight: 800;
} 
.table-user {
   border-collapse: collapse;
   width:70em;
   margin-left: 2.5em;
}
.int {
   background-color: #fff;
}

.a {
   width: .1em;
}

button {
   cursor: pointer;
}

.button-create button:hover {
   background-color: #aa3997;
   transition: 2s;
}

img {
   cursor: pointer;
}

.absolute {
   color: white;
   background-color: #DB21BD;
   border: 3px solid white;
   border-radius: 50%;
   position: absolute;
   width: 20px;
   height: 20px;
   text-align: center;
  font-size: .7em;
}



.user-image {
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   border-radius: 50%;
   
}

.user-image img {
   width: 57px;
   height: 57px;
   border-radius: 50%;
   height: 57px;
   
}
.aa img{
    padding-right: 2em;
}
.aa{
    text-align: center;
}


.linha-alternada{
    background-color: #FFF;
}


.aa button {
    visibility: hidden;
}

tr:hover .aa > button{
    visibility: visible;
}
